.Wwork{
    color: #00aaa6;
    font-weight: 700;
    margin-left: 1%;
    font-size:44px;
}

.place{
    color: #00aaa6;
    font-weight: 700;
}

.p-detail{
    color: #55096a;
    font-family: inherit;
    font-size: 16px;
    text-align: justify;
}

